# Application Environment Variables
VITE_APP_TITLE="Vue 3 Master Template"
VITE_API_BASE_URL="http://localhost:3002/api/v1"
VITE_ENABLE_MOCK_API=false
VITE_APP_ENV="development"

# Default Demo Credentials (.env Configured)
VITE_DEMO_ADMIN_EMAIL="admin@example.com"
VITE_DEMO_ADMIN_PASSWORD="Password123!"
VITE_DEMO_DEV_EMAIL="dev@example.com"
VITE_DEMO_DEV_PASSWORD="Password123!"
VITE_DEMO_USER_EMAIL="user@example.com"
VITE_DEMO_USER_PASSWORD="Password123!"
